/*  Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /*  background  */
    color: #000000; /* black text  */
}

/* Header */
header {
    background-color: #00205B; /* navy blue */
    color: #FFFFFF; /* White text  */
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 2em;
}

/* Navigation Bar */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #00205B; /* navy blue */
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFD100; /* gold  */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FFFFFF; /* white text */
}

.active {
    color: #FFFFFF; /*  link */
}

/* Main  */
main {
    padding: 20px;
    background-color: #FFFFFF; /* White */
}

h1 {
    color: #00205B; /* navy blue  */
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Form Styles  */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #00205B; /* navy blue */
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00205B; /*  navy border */
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #FFD100; /*gold button */
    color: #00205B; /* Navy  */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00205B; /* Navy background  */
    color: #FFFFFF; /* White  */
}

/* Footer */
footer {
    background-color: #00205B; /*navy blue */
    color: #FFFFFF; /* White text  */
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #FFD100; /*gold for */
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF; /*  white text */
}
